/* Logo */
#logo {

  height: 45px;
  margin: 0 auto;
  display:inline;;
  fill: #e5c45c;
  fill: url("#MyGradient");
  stroke: #e5c45c;
  stroke-miterlimit: 50;
 }
.animate-draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation: DrawLine 1000ms linear infinite,FadeStroke 4000ms linear infinite,FillIn 4000ms linear infinite;
}

#draw-text {
  animation-delay: 2s, 3.5s, 3.5s;
  animation-duration: 2s, 3s, 3s;
  animation-duration:5s;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
 }

@keyframes DrawLine {
  to { stroke-dashOffset: 100; }
}

@keyframes FadeStroke {
  to { stroke-opacity: .3; }
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
